.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: 100%;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.chips {
  margin: 20 0;
  font-size: 20px;
  width: 240px;
  background-color: #f83;
  padding: 5px;
  border-radius:20px;
  text-align:center;
}
